#mainWalletPanel {
  position: relative;
  overflow: hidden;
}

#priceChart {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100% + 80px);
  height: 100%;
}

#userHeader {
  position: relative;
  width: 45%;
  z-index: 2;
  padding: 10px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

#userWallet {
  position: relative;
  width: 45%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

#coinButtons {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 2;
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

#desoButton,
#focusButton,
#openfundButton {
  transition: all 0.3s ease;
}

#desoButton {
  color: #424242;
  cursor: pointer;

  &:hover {
    color: #b1b1b1;
  }
}

#focusButton {
  color: #663e30;
  cursor: pointer;

  &:hover {
    color: #d25c33;
  }
}

#openfundButton {
  color: #204166;
  cursor: pointer;

  &:hover {
    color: #1969c0;
  }
}

@media (max-width: 1600px) {
  #userHeader {
    width: 50%;
  }

  #userWallet {
    width: 50%;
  }
}

@media (max-width: 1366px) {
  #userHeader {
    width: 55%;
  }

  #userWallet {
    width: 55%;
  }
}

@media (max-width: 1280px) {
  #userHeader {
    width: 65%;
  }

  #userWallet {
    width: 65%;
  }
}

#tokenNameElement {
  position: relative;
  cursor: default;

  &:hover {
    z-index: 2;

    .linksList {
      display: block;
      z-index: 3;
    }
  }

  .linksList {
    position: absolute;
    right: -220px;
    top: -18px;
    display: none;
    width: 220px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--popover);
    border: 1px solid var(--border);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    .linkItem {
      box-sizing: border-box;
      display: block;
      align-items: center;
      height: 40px;
      padding: 0 15px;
      border-top: 1px solid var(--border);
      font-size: 15px;
      font-weight: 400;
      line-height: 40px;
      color: var(--foreground);
      cursor: pointer;

      &:first-child {
        border: none;
      }

      &:hover {
        color: var(--primary);
        background-color: rgb(
          from var(--background) r g b/var(--tw-bg-opacity, 1)
        );
        cursor: pointer;
      }
    }
  }
}

svg {
  text {
    display: none;
  }

  g[aria-label='y-axis tick'],
  g[aria-label='y-axis tick label'],
  g[aria-label='x-axis tick'],
  g[aria-label='x-axis tick label'],
  g[aria-label='x-axis label'],
  g[aria-label='rule'] {
    display: none;
  }

  g[aria-label='line'] {
    width: 100%;

    path {
      width: 100%;
    }
  }
}
